{% extends 'layout.html' %}
{% load static %}

{% block title %}Изменение профиля{% endblock %}


{% block content %}
    <div class="fon_register" style="background-image: linear-gradient(90deg,rgba(244,240,233,0.9) 30%,rgba(244,240,233,0) 100%), url('{% static 'img/fonreg.jpg' %}')!important; height: auto; padding-bottom: 119px; padding-top: 119px;">
        <h class="txt_register">Измените поля, которые хотите</h>
        <form action="." class="block_fields" enctype="multipart/form-data" method="post">
            <div style="display: flex; flex-direction: column; padding: 35px 0 60px 0;">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn_register" type="submit" value="Изменить профиль">
            </div>
        </form>
    </div>
{% endblock %}