@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans+Georgian:wght@100&family=PT+Serif&display=swap');

body, html{
    padding: 0;
    margin: 0;
    font-family: Open Sans,Arial,sans-serif;
    width: 100%;
    height: 100%;
}

/*Header*/

.header_nav{
    background: #1f3d59;
    height: 36px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.header_nav_content{
    display: flex;
    height: 36px;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.header{
    background: #264059;
    height: 83px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.header_content{
    display: flex;
    height: 83px;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.menu_header{
    text-decoration: none;
    color: white;
    transition: all ease 0.3s
}
.menu_header:hover{
    opacity: .7;
    transition: 0.5s;
}

/*Footer*/

.footer{
    display: flex;
    height: 448px;
    background: #264059;
    justify-content: center;
    align-items: center;
}
.footer_content{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.footer_block{
    display: flex;
    flex-direction: column;
}

.txt_menu{
    font-size: 18px;
    color: white;
}

.menu_footer{
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 2.7em;
}

/*Banner*/

.banner{
    display: flex;
    width: auto;
    height: 948px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: 115px;
    align-items: center;
}

.banner_content{
    display: flex;
    padding-right: 250px!important;
    flex-direction: column;
}

.txt_banner{
    font-family: 'Alice',Georgia,"Times New Roman",serif;
    width: 706px;
    letter-spacing: -3px;
    line-height: 1.1em;
    font-size: 80px;
    color: #333;
    font-weight: 500;
    margin: 0 0 30px 0;
}
.txt_banner2{
    font-family: Open Sans,Arial,sans-serif;
    color: #666;
    font-weight: 500;
    width: 304px;
    font-size: 20px;
    line-height: 1.8em;
    margin: 0;
}

/*About us*/

.about_us{
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    justify-content: center;
    align-items: center;
}

.txt_about_us{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

#line{
    width: 50px;
    height: 1px;
    background: #2a2a2a;
    border: 1px solid #2a2a2a;
}

.frame_video{
    display: flex;
    width: 1080px;
    height: 621px;
    border-radius: 4px;
    overflow: hidden;
    border-width: 15px;
    border-color: #ffffff;
    box-shadow: 0 12px 18px -6px rgb(0 0 0 / 30%);
    justify-content: center;
    align-items: center;
}

/*Fotos*/

.fotos-about_us{
    display: flex;
    padding-top: 110px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    height: 720px;
    width: 1080px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    box-shadow: 6px 6px 18px 0 rgb(0 0 0 / 30%);
}
.menu {
    position: absolute;
    left: 0;
    z-index: 81;
    width: 100%;
    bottom: 0;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #264059;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 80;
    transition: left 0.65s ease-out;
}

/*Waiting*/

.waiting{
    display: flex;
    padding-top: 110px;
    padding-bottom: 54px;
}

.txt_banner3{
    color: #666;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 18px;
}

/*Service*/

.service_list{
    display: flex;
    padding-top: 110px;
    flex-direction: column;
    align-items: center;
}

.img_service{
    border-radius: 50px;
}

.texts_service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt_service{
    text-decoration: none;
    font-size: 26px;
    padding-bottom: 20px;
    font-family: 'Alice',Georgia,"Times New Roman",serif;
    margin: 0;
}

/*Service_detail*/

.container_service{
    display: flex;
    flex-direction: column;
    margin-top: 115px;
}

.fon_register{
    display: flex;
    width: auto;
    height: 948px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: 115px;
    align-items: center;
}