{% extends 'layout.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="banner"
         style="background-image: linear-gradient(90deg,rgba(244,240,233,0.79) 30%,rgba(232,244,233,0) 100%), url('{% static 'img/fon.png' %}')!important;">
        <div class="banner_content">
            <h1 class="txt_banner">Получите удовольствия
                от конных прогулок</h1>
            <p class="txt_banner2">Прогулки верхом на
                лошади по лесу в черте города</p>
        </div>
    </div>
    <div class="about_us">
        <div class="txt_about_us">
            <h1 style="font-size: 42px; width: auto;" class="txt_banner">Посмотрите фильм о нашем конном дворe</h1>
            <hr id="line">
            <p style="width: auto; margin-top: 15px" class="txt_banner2">Вы увидите как у нас все устроено, кто наши
                люди, лошади и что вас ждет.</p>
        </div>
        <div class="frame_video">
            <iframe width="1140" height="641" src="https://www.youtube.com/embed/4HDa6maD0sE"
                    title="ЛОШАДИ - ЧТО МЫ О НИХ НЕ ЗНАЕМ? Удивительные факты о самых лучших друзьях человечества"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="fotos-about_us">
        <div style="padding-bottom: 45px" class="txt_about_us">
            <h1 style="font-size: 42px; width: auto;" class="txt_banner">Наши инструктора</h1>
            <hr id="line">
            <p style="width: auto; margin-top: 15px" class="txt_banner2">Это профессионалы своего дела!</p>
        </div>

        <div class="slider-container">
            <div class="menu">
                <label for="slide-dot-1"></label>
                <label for="slide-dot-2"></label>
                <label for="slide-dot-3"></label>
                <label for="slide-dot-4"></label>
            </div>
            <input id="slide-dot-1" type="radio" name="slides" checked>
            <div style="background-image: url('{% static 'img/trener1.jpg' %}');" class="slide slide-1"></div>
            <input id="slide-dot-2" type="radio" name="slides">
            <div style="background-image: url('{% static 'img/trener2.jpg' %}');" class="slide slide-2"></div>
            <input id="slide-dot-3" type="radio" name="slides">
            <div style="background-image: url('{% static 'img/trener3.jpg' %}');" class="slide slide-3"></div>
            <input id="slide-dot-4" type="radio" name="slides">
            <div style="background-image: url('{% static 'img/trener4.jpg' %}');" class="slide slide-4"></div>
        </div>
    </div>

    <div class="waiting">
        <img style="margin-right: 90px" src="{% static 'img/test7.png' %}" alt="">
        <div style="padding: 50px 0 50px 50px" class="txt_about_us1">
            <h2 class="txt_banner3">ВЕРХОВЫЕ ПРОГУЛКИ</h2>
            <h1 style="font-size: 42px; width: 408px" class="txt_banner">Что тебя ждет во время прогулки</h1>
            <hr style="margin: 0;" id="line">
            <p style="margin-top: 30px; width: 500px; line-height: 2.5em" class="txt_banner2">— Инструктаж безопасности
                <br>
                — Знакомство с животным <br>
                — Знакомство с амуницией <br>
                — Тренировочный заезд на территории <br>

                — Прогулка по берёзовому лесу <br>

                — Возможность воспользоваться услугами фотографа</p>
        </div>
    </div>

    <div style="padding-bottom: 45px" class="txt_about_us">
        <h1 style="font-size: 42px; width: auto;" class="txt_banner">Обратная связь</h1>
        <hr id="line">
        <p style="width: 700px; text-align: center; margin-top: 15px" class="txt_banner2">Напишите нам, свой отзыв о
            нашей работе, пожелания чтобы мы могли бы сделать лучше. Ваше мнение очень ценно для нас.</p>
    </div>
    {% if user.is_active %}
        <form class="form_feed" style="padding: 20px 0 20px 0" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="footer_feed">
                <button class="feed_send" type="submit">Оставить отзыв</button>
            </div>
        </form>
    {% else %}
        <div class="d-flex justify-content-center">
            <p style="padding: 20px 0 20px 0; color: red">Для того, чтобы оставить отзыв, нужно авторизоваться</p>
        </div>
    {% endif %}

    <div class="mt-5 mb-5">
        <h1 style="font-size: 42px;" class="txt_banner mb-4">Наши лучшие отзывы</h1>
        {% for item in cont %}
            {% if item.elect == True %}
                <div style="width: 100%" class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">

                            <div class="card-body p-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="justify-content-between">
                                            <div class="flex-row align-items-center">
                                                <img src="{{ prof.img.url }}"
                                                     alt="avatar" width="25"
                                                     height="25">
                                                <p>{{ item.text }}</p>
                                                <h1 class="small mb-0 ms-2">{{ item.user.username }}</h1>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}