{% extends 'layout.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Информация о прокате{% endblock %}

{% block content %}
    <div class="container_service">
        <p style="font-size: 42px; width: auto" class="txt_banner">{{ service.service_name }}</p>
        <div class="block_info">
            <div class="foto_info">
                {% thumbnail service.service_img '600' crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% endthumbnail %}
            </div>
            <div class="more_info_serv">
                <div class="txt_info_serv1">
                    <p class="detail_desc">{{ service.route.description }}</p>
                </div>
                <div class="txt_info_serv2">
                    {% if service.sale %}
                        <div style="display: flex; align-items: flex-end">
                            <p style="font-size: 42px; color: #b70000;" class="txt_service">{{ service.sell }}₽</p>
                            <span style="font-size: 27px; color: #868686; padding-left: 5px; text-decoration: line-through;">{{ service.service_sell }}₽</span>
                        </div>
                    {% else %}
                        <p style="font-size: 42px;" class="txt_service">{{ service.service_sell }}₽</p>
                    {% endif %}
                    <label>
                        <a href="/order/{{ service.route.id }}"><button class="btn_buy">Заказать</button></a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="comments">
        {% if comments.count == 1 %}
            <p style="font-size: 18px">{{ comments.count }} Комментарий</p>

        {% elif comments.count == 2 or comments.count == 3 or comments.count  == 4 %}
            <p style="font-size: 18px">{{ comments.count }} Комментария</p>

        {% elif comments.count > 4 %}
            <p style="font-size: 18px">{{ comments.count }} Комментариев</p>
        {% endif %}

        {% if user.is_active %}
            <form style="padding: 20px 0 20px 0" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="footer_comment">
                    <button class="comment_send" type="submit">Оставить комментарий</button>
                </div>
            </form>
        {% else %}
            <p style="padding: 20px 0 20px 0; color: red">Для того, чтобы оставить комментарии, нужно авторизоваться</p>
        {% endif %}

        {% for comment in comments %}
            <h style="display: flex"><p style="padding-right: 4px; font-size: 15px; margin: 0 0 5px 0">{{ comment.user }}</p> <p style="font-size: 14px; color: #AAAAAA; margin: 0 0 5px 0">{{ comment.date }}</p></h> <br>
            <p style="font-size: 17px; margin: 0 0 15px 0">{{ comment.text }}</p> <br>
        {% endfor %}
    </div>
{% endblock %}