{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Услуги "Рысак"{% endblock %}

{% block content %}
    <div class="banner" style="background-image: linear-gradient(90deg,rgba(244,240,233,0.9) 30%,rgba(244,240,233,0) 100%), url('{% static 'img/fon_serv.jpg' %}')!important; height: auto; padding-bottom: 119px; padding-top: 119px;">
        <div class="banner_content">
            <h1 class="txt_banner">Услуги</h1>
            <p style="width: 515px;" class="txt_banner2">Мы постарались сделать все, чтобы вы замечательно провели время.</p>
        </div>
    </div>
    <div class="blocks_services">
        {% for service in page %}
            <div class="service_list">
                <a style="text-decoration: none; color: black; margin: 0" href="{% url 'hor:detail' service.pk %}">
                    {% thumbnail service.service_img '400x300' as im %}
                        <img class="img_service" src="{{im.url}}" alt="" height="300">
                    {% endthumbnail %}
                    <div class="texts_service">
                        <p class="txt_service">{{ service.service_name }}</p>
                        {% if service.sale %}
                            <div style="display: flex; align-items: flex-end">
                                <p style="font-size: 35px; color: #b70000;" class="txt_service">{{ service.sell }}₽</p>
                                <span style="font-size: 20px; color: #868686; padding-left: 5px; text-decoration: line-through;"> {{ service.service_sell }}₽ </span>
                            </div>
                        {% else %}
                            <p style="font-size: 35px;" class="txt_service">{{ service.service_sell }}₽</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="service_page">
        {% if page.has_previous %}
            <a class="page_num" id="prev" href="{% url 'hor:services' page.previous_page_number %}"> Предыдущая </a>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
            {% if page.number == p %}
                <p class="page_active">{{ p }}</p>
            {% else %}
                <a class="page_num" href="{% url 'hor:services' p %}">{{ p }}</a>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <a class="page_num" id="next" href="{% url 'hor:services' page.next_page_number %}"> Следующая</a>
        {% endif %}
    </div>

{% endblock %}