{% extends 'layout.html' %}

{% load thumbnail %}
{% load static %}

{% block title %}Заказ услуги{% endblock %}

{% block content %}
    <div style="margin-top: 115px">
        <div style="max-width: 10000px; margin: auto; width: 60%; padding-bottom: 110px;">
            <h1 style="font-size: 50px" class="txt_banner">Оформление заказа</h1>
            <p style="width: 500px" class="txt_banner2"> Заполните все поля и мы ответим вам быстро! </p>
        </div>
    </div>
    <div class="order_blocks">
        <div class="block_form_order">
            <form action="." class="form_order" method="post">
                {% csrf_token %}
                {{ form.date_start }}
                {% if order.trainer.count != 0 %}
                    {{ form.trainer }}
                {% endif %}
                {{ form.horse }}
                <button style="width: 200px; align-self: center" class="btn_buy" type="submit">Заказать</button>
           </form>
        </div>
        <div style="display: flex; flex-direction: column">
            <h3 class="txt_banner2 mb-5">Информация заказа:</h3>
            <div class="block_info_order">
                {% thumbnail order.service_img '300' crop="center" as im %}
                    <img style="border-radius: 10px 10px 0 0;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% endthumbnail %}
                <p style="padding: 20px">{{ order.service_name }}</p>
            </div>
            <div class="description_trainer">

            </div>
            <div class="description_horse">

            </div>
        </div>
    </div>
{% endblock %}