{% extends 'layout.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="banner_contact" style="background-image: linear-gradient(90deg,rgba(244,240,233,0.9) 30%,rgba(244,240,233,0) 100%), url('{% static 'img/fon_contact.jpg' %}')!important; height: auto; margin: 0; padding-bottom: 119px; padding-top: 119px;">
        <div style="max-width: 10000px; margin: auto; width: 80%; padding-bottom: 110px">
            <h1 class="txt_banner">Наши контакты</h1>
            <p style="width: 500px" class="txt_banner2"> С нами очень легко связаться, ниже все возможные способы. Звоните, пишите и приезжайте! </p>
        </div>
        <div style="max-width: 10000px; margin: auto; display: flex; width: 80%">
            <div style="display: flex; flex-direction: column; padding-right: 60px">
                <div style="padding-bottom: 30px">
                    <p style="padding-bottom: 10px; font-weight: 800; color: #333; font-family: 'Alice',Georgia,serif, 'Times New Roman',serif;">Адрес:</p>
                    <p style="color: #666666">г. Курган</p>
                </div>
                <div>
                    <p style="padding-bottom: 10px; font-weight: 800; color: #333; font-family: 'Alice',Georgia,serif, 'Times New Roman',serif;">Электронная почта:</p>
                    <mailto style="color: #666666">horserental.@mail.ru</mailto>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="padding-bottom: 30px">
                    <p style="padding-bottom: 10px; color: #333; font-weight: 800; font-family: 'Alice',Georgia,serif, 'Times New Roman',serif;">Телефон:</p>
                    <p style="color: #666666">+7 987 345 43 32</p>
                </div>
                <div>
                    <p style="padding-bottom: 10px; color: #333; font-weight: 800; font-family: 'Alice',Georgia,serif, 'Times New Roman',serif;">Социальные сети:</p>
                    <ul class="social-icons">
                        <li><a class="social-icon-vk" href="https://vk.com/konny_dvor72" title="Перейти в группу" target="_blank" rel="noopener"></a></li>
                        <li><a class="social-icon-youtube" href="https://www.youtube.com/channel/UCH8VnSKO4vllIYwvQNs2oGA" title="Перейти на канал" target="_blank" rel="noopener"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 45px" class="txt_about_us">
        <h1 style="font-size: 42px; width: auto;" class="txt_banner">Обратная связь</h1>
        <hr id="line">
        <p style="width: 700px; text-align: center; margin-top: 15px" class="txt_banner2">Напишите нам, свой отзыв о нашей работе, пожелания чтобы мы могли бы сделать лучше. Ваше мнение очень ценно для нас.</p>
    </div>
    {% if user.is_active %}
        <form class="form_feed" style="padding: 20px 0 20px 0" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="footer_feed">
                <button class="feed_send" type="submit">Оставить отзыв</button>
            </div>
        </form>
    {% else %}
        <p style="padding: 20px 0 20px 0; color: red">Для того, чтобы оставить отзыв, нужно авторизоваться</p>
    {% endif %}
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa28b5c4cab9e2be41e03a432242cb73cbf0582ee9647b83c9839165a5960c6eb&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}