{% extends 'layout.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}


{% block content %}
     <div class="fon_register" style="background-image: linear-gradient(90deg,rgba(244,240,233,0.9) 30%,rgba(244,240,233,0) 100%), url('{% static 'img/fonreg.jpg' %}')!important; height: auto; padding-bottom: 119px; padding-top: 119px;">
        <h class="txt_register">Заполните все поля чтобы пройти авторизацию</h>
        <form action="{% url 'login' %}" class="block_fields" method="post">
            <div style="display: flex; flex-direction: column; padding: 35px 0 60px 0;">
                {% csrf_token %}
                {{ form }}
                <input class="btn_register" type="submit" value="Войти">
            </div>
        </form>
    </div>
{% endblock %}