{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>
    <div class="header_nav">
        <div class="header_nav_content">
            <p style="color: white; padding-right: 15px"><img style="width: 14px; height: 14px;" src="{% static 'img/telefon.png' %}" alt="fffff"> +7 987 345 43 32 </p>
            <p style="color: white"><img style="width: 15px; height: 15px;" src="{% static 'img/mail.png' %}" alt="fffff"> horserental.@mail.ru </p>
        </div>
    </div>

    <header class="header">
        <div class="header_content">
            <a class="menu_header" href="{% url 'services' %}">Услуги</a>
            <a href="{% url 'main' %}"> <img style="width: 151px; height: 62px" src="{% static 'img/logo.png' %}" alt=""> </a>
            <a class="menu_header" href="{% url 'contacts' %}">Контакты</a>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="footer_content">
            <div class="footer_block">
                <img style="width: 361px; height: 149px" src="{% static 'img/logo.png' %}" alt="kkkkkk">
                <p style="width: 320px;" class="txt_menu">Стоимость услуг не считать публичной офертой, может изменяться до момента заключения договора.
                    <br> © 2023 «Прокат лошадей Рысак»</p>
            </div>
            <div class="footer_block">
                <a class="menu_footer" href="{% url 'main' %}">Главная</a>
                <a class="menu_footer" href="{% url 'services' %}">Услуги</a>
                <a class="menu_footer" href="{% url 'contacts' %}">Контакты</a>
            </div>
            <div class="footer_block">
                <p class="txt_menu">Мы в соцсетях:</p>
                <a class="menu_footer" href="">Пользовательское соглашение</a>
                <a class="menu_footer" href="">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>
</body>
</html>