{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <script src = '{% static "js/bootstrap.min.js" %}'></script>
    <script src = '{% static "js/scripts.js" %}'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="header_nav">
        <div class="header_nav_content">
            <tel style="color: white; margin-right: 15px; flex-direction: row"><img style="width: 14px; height: 14px; margin-right: 5px" src="{% static 'img/telefon.png' %}" alt="fffff"> +7 987 345 43 32 </tel>
            <mailto style="color: white; flex-direction: row"><img style="width: 15px; height: 15px; margin-right: 5px" src="{% static 'img/mail.png' %}" alt="fffff"> horserental.@mail.ru </mailto>
        </div>
    </div>

    <header class="header">
        <div class="header_content">
            <nav style="display: flex; align-items: center">
                <a href="{% url 'main:main' %}"> <img style="width: 151px; height: 62px" src="{% static 'img/logo.png' %}" alt=""> </a>
                <a class="menu_header" href="{% url 'hor:first_service' %}">Услуги</a>
                <a class="menu_header" href="{% url 'contacts:contacts' %}">Контакты</a>
            </nav>

            <form class="search_form" action="{% url 'hor:first_service' %}">
                <input class="search_service" type="search" placeholder="Введите запрос" aria-label="Search" name="search">
                <button class="btn_search" type="submit">Найти</button>
            </form>

            <div style="display: flex; align-items: center">
                {% if user.is_authenticated %}
                    <li class="dropdown"><a class="menu_header" href="#"><span>{{ user.username }}</span></a>
                        <ul>
                            <li><a href="{% url 'reg:profile' %}">Ваш профиль</a></li>
                            <li><a href="#">Ваши заказы</a></li>
                            <li><a href="{% url 'reg:logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a style="padding: 0" class="menu_header" href="{% url 'reg:register' %}">Регистрация/ </a>
                    <a style="padding: 0" class="menu_header" href="{% url 'reg:login' %}">Войти</a>
                {%endif%}
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="footer_content">
            <div class="footer_block">
                <img style="width: 361px; height: 149px; margin-bottom: 15px" src="{% static 'img/logo.png' %}" alt="kkkkkk">
                <p style="width: 320px;" class="txt_menu">Стоимость услуг не считать публичной офертой, может изменяться до момента заключения договора.
                    <br> © 2023 «Прокат лошадей Рысак»</p>
            </div>
            <div class="footer_block">
                <a class="menu_footer" href="{% url 'main:main' %}">Главная</a>
                <a class="menu_footer" href="{% url 'hor:first_service' %}">Услуги</a>
                <a class="menu_footer" href="{% url 'contacts:contacts' %}">Контакты</a>
            </div>
            <div class="footer_block">
                <ul class="txt_menu">Мы в соцсетях:
                    <ul class="social-icons">
                        <li><a class="social-icon-vk" href="https://vk.com/konny_dvor72" title="Перейти в группу" target="_blank" rel="noopener"></a></li>
                        <li><a class="social-icon-youtube" href="https://www.youtube.com/channel/UCH8VnSKO4vllIYwvQNs2oGA" title="Перейти на канал" target="_blank" rel="noopener"></a></li>
                    </ul>
                </ul>
                <a class="menu_footer" href="">Пользовательское соглашение</a>
                <a class="menu_footer" href="">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>
</body>
</html>